.btn {
	@extend %transition;
	color: $white;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: rem-calc(24px);
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	padding: rem-calc(13px 15px);
	border: 1px solid transparent;
	border-radius: rem-calc(8px);
	cursor: pointer;
	outline: none;

	> [class^="icon"],
	> [class*="icon"] {
		display: inline-block;
		vertical-align: middle;
	}
}

.btn__xs {
	font-size: rem-calc(16px);
	padding: rem-calc(8px 10px);
	border-radius: rem-calc(4px);
}

.btn__block {
	display: block;
}

.btn__icon {
	@include size(#{rem-calc(40px)});
	font-size: rem-calc(16px);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border-radius: 50%;

	&:hover {
		background: rgba($primary, 0.3);
		color: $primary;
	}
}

.btn__default {
	background: $black;

	&:focus,
	&:hover {
		background: darken($primary, 30%);
	}
}

.btn__info {
	background: $info;

	&:focus,
	&:hover {
		background: darken($info, 30%);
	}
}

.btn__primary {
	background: $primary;
	color: $black;

	&:focus,
	&:hover {
		background: darken($primary, 30%);
	}
}

.btn__success {
	background: $success;

	&:focus,
	&:hover {
		background: darken($success, 30%);
	}
}

.btn__danger {
	background: $danger;

	&:focus,
	&:hover {
		background: darken($danger, 30%);
	}
}
