.cart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: rem-calc(10px);
    margin: rem-calc(0 10px 20px);
    border: 1px dashed rgba($white, 0.3);
    border-radius: 8px;

    &__header {
        flex-grow: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: rem-calc(25px);
    }

    &__list {
        flex-grow: 1;
    }

    &__title {
        font-size: rem-calc(24px);
        line-height: 1.2;
        flex-grow: 1;
    }

    &__item {
        font-size: rem-calc(16px);
        line-height: 1.3;
        display: flex;
        align-items: flex-start;
        padding-bottom: rem-calc(10px);
        border-bottom: 1px solid rgba($white, 0.1);
        margin-bottom: rem-calc(10px);

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }

        &__image {
            max-width: rem-calc(60px);
            height: rem-calc(60px);
            flex: rem-calc(60px) 0 0;
            margin-right: rem-calc(15px);
            border-radius: 50%;
            overflow: hidden;

            img {
                @include size(100%);
                object-fit: cover;
            }
        }

        &__detail {
            flex-grow: 1;

            em {
                color: $gray;
                font-style: normal;
                font-size: rem-calc(12px);
                display: block;
            }
        }

        &__action {
            .btn {
                margin-left: rem-calc(5px);
            }
        }
    }

    &__footer {
        text-align: right;
        color: $gray;
        font-size: rem-calc(14px);
        flex-grow: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        em {
            font-style: normal;
        }
    }

    &__empty {
        color: $gray;
        font-size: rem-calc(14px);
        line-height: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin-bottom: 0;
        }
    }
}

.order__status {
    @extend %listreset;
    @include font(10px);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    padding-top: rem-calc(10px);

    li {
        $width: 15px;
        flex-grow: 1;
        position: relative;
        z-index: 1;

        &::before {
            @include size(#{rem-calc($width)});
            background: $primary;
            content: "";
            display: block;
            margin: 0 auto rem-calc(5px);
            border-radius: 50%;
            position: relative;
            z-index: 1;
        }

        &.current {
            &::after {
                right: 50%;
            }

            ~ li {
                &::before {
                    background: $gray;
                }

                &::after {
                    background: transparent;
                }
            }
        }

        &::after {
            background: $primary;
            content: "";
            height: rem-calc(2px);
            position: absolute;
            top: rem-calc($width/2);
            left: 0;
            right: 0;
            z-index: -1;
        }

        &:first-child::after {
            left: 50%;
        }

        &:last-child::after {
            right: 50%;
        }
    }
}
