.modal {
    @include animate(opacity visibility transform);
    background: rgba($white, 0.4);
    backdrop-filter: blur(3px);
    min-height: 100vh;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    padding: rem-calc(40px 5px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(rem-calc(20px));

    &:after {
        content: "";
        min-height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    &--active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.modal__holder {
    background: $black-900;
    width: 100%;
    max-width: rem-calc(768px);
    white-space: normal;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 8px;
}

.modal__header {
    padding: rem-calc(20px);
    border-bottom: 1px solid rgba($white, 0.1);
}

.modal__body {
    padding: rem-calc(20px);
}

.modal__footer {
    text-align: right;
    padding: rem-calc(20px);
    border-top: 1px solid rgba($white, 0.1);
}