.meta__info {
    background: rgba($primary, 0.3);
    text-align: center;
    padding: rem-calc(15px 25px);
    margin-bottom: rem-calc(25px);

    p {
        margin-bottom: 0;
    }
}

.user__image {
    background: $black-500;
    color: $gray;
    margin-bottom: rem-calc(15px);
    height: rem-calc(320px);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        @include size(100%);
        object-fit: cover;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        font-size: rem-calc(100px);
    }
}

.user__detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: rem-calc(0 25px);
    margin: rem-calc(0 0 30px);

    dt {
        width: rem-calc(100px);
        font-size: rem-calc(12px);
        color: $gray;
        align-self: flex-start;
        padding-right: rem-calc(10px);
    }

    dd {
        max-width: 100%;
        flex: calc(100% - #{rem-calc(100px)}) 1;
        display: flex;
        flex-wrap: wrap;
        margin: rem-calc(0 0 10px);

        strong {
            width: 100%;
            font-weight: 400;
            margin-bottom: rem-calc(5px);
        }
    }

    .image__list {
        width: calc(100% + #{rem-calc(20px)});
        display: flex;
        flex-wrap: wrap;
        margin: rem-calc(0 -10px);

        .image__holder {
            max-width: calc(50% - #{rem-calc(20px)});
            flex: calc(50% - #{rem-calc(20px)}) 0 0;
            height: rem-calc(80px);
            margin: rem-calc(0 10px);
            border-radius: 3px;
            overflow: hidden;

            img {
                @include size(100%);
                object-fit: cover;
            }
        }
    }

    .verified {
        color: $info;
    }
}
