* {
	box-sizing: border-box;

	&:after,
	&:before {
		box-sizing: border-box;
	}
}

html {
	font-size: 3.75vw;

	@include media(">=tablet") {
		font-size: 1.93vw;
	}

	@include media(">=desktop") {
		// font-size: 16px;
	}
}

body {
	background: $black;
	color: $white;
	font: #{rem-calc(14px)}/ 1.571 $base-font-sans-serif;
	min-width: 320px;
	margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0;
}

h1,
.h1 {
	font-size: rem-calc(48px);
	line-height: 1.0833;
	margin-bottom: rem-calc(30px);
}

h2,
.h2 {
	@include font(36px, 42px);
}

h3,
.h3 {
	@include font(24px, 28px);
	font-weight: 400;
	margin-bottom: rem-calc(3px);
}

h4,
.h4 {
	@include font(18px, 26px);
	font-weight: 400;
	margin-bottom: rem-calc(3px);
}

a {
	@include animate(color);
	color: $light;
	text-decoration: none;
	outline: none;

	&:focus,
	&:hover {
		color: darken($light, 20%);
	}
}

p {
	margin: rem-calc(0 0 19px);
}

img {
	border: none;
	vertical-align: top;
}

mark {
	background: none;
	color: $info;
}

.sr-only {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

#wrapper {
	background: #333;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	color: $white;
	z-index: 1;

	&:not(.simple__page) {
		padding-bottom: rem-calc(120px);
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background: url("../images/pattern01.jpg") repeat 0 0;
		mix-blend-mode: color-burn;
		opacity: 0.8;
	}
}

.container {
	max-width: rem-calc(833px);
	margin: 0 auto;
}

.loading {
	animation: rotate 2s linear infinite;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: rem-calc(10px);
}

.animate {
	animation: rotate 2s linear infinite;
	position: relative;
}

.d-inline-block {
	display: inline-block;
	vertical-align: top;
}

.btn__close {
	@include animate(color);
	background: none;
	color: $white;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: rem-calc(10px);
	border: none;
	position: relative;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $primary;
	}
}

.text--danger {
	color: $danger !important;
}

.text--center {
	text-align: center !important;
}

.text--right {
	text-align: right !important;
}

.text--primary {
	color: $primary !important;
}

.mb-4 {
	margin-bottom: 1rem;
}

.message {
	@include animate(opacity visibility);
	background: $primary;
	color: $black;
	width: 80%;
	font-size: rem-calc(14px);
	line-height: 1.4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem-calc(15px 20px);
	border-radius: 8px;
	position: fixed;
	right: rem-calc(10px);
	bottom: rem-calc(40px);
	z-index: 99999;
	opacity: 0;
	visibility: hidden;

	&--show {
		opacity: 1;
		visibility: visible;
	}

	button {
		@include animate(color);
		background: none;
		color: $black;
		padding: 0;
		border: none;
		cursor: pointer;
		outline: none;

		&:focus,
		&:hover {
			color: $white;
		}
	}

	.text__holder {
		@extend .ellipsis;
		max-width: calc(100% - #{rem-calc(14px)});
		flex: auto 1 0;
		margin-right: rem-calc(10px);

		p {
			margin-bottom: 0;
		}
	}
}

.list {
	padding: rem-calc(0 15px 30px);

	&__item {
		display: block;
		padding: rem-calc(8px 0);
		border-bottom: 1px solid $gray;

		&:last-child {
			border-bottom: none;
		}
	}
}

.hide {
	visibility: hidden;
	opacity: 0;
}

.logo {
	width: rem-calc(200px);
	margin: 0 auto rem-calc(25px);

	img {
		width: 100%;
		height: auto;
	}
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.slide-fade-enter-active {
	transition: all 0.3s ease;
}

.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}
