#footer {
	background: rgba($black, 0.3);
	backdrop-filter: blur(20px);
	// padding: rem-calc(15px 30px);
	border-radius: rem-calc(50px);
	position: fixed;
	right: 50%;
	transform: translateX(50%);
	bottom: rem-calc(20px);
	z-index: 9999;
	overflow: hidden;
}

.footer__nav {
	@extend %listreset;
	display: flex;
	justify-content: space-around;

	li {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		@include animate(background);
		@include size(#{rem-calc(70px)});
		font-size: rem-calc(28px);
		line-height: 1;
		color: $primary;
		display: flex;
		justify-content: center;
		align-items: center;
		outline: none;

		&:hover,
		&:focus {
			background: rgba($black, 0.2);
		}
	}
	
	.active a {
		color: $white;
	}

	.text {
		font-weight: 700;
		font-size: rem-calc(18px);
		line-height: 1.1667;
		display: none;
	}
}
