#header {
	@include font(24px);
	background: $black-500;

	@include media(">=tablet") {
		@include font(36px, 42px);
	}

	&.is-app {
		padding-top: rem-calc(72px);
	}

	.header-holder {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.menu__opener,
.search__opener {
	@include font(32px, 32px);
	@include animate(background);
	max-width: rem-calc(64px);
	height: rem-calc(64px);
	flex: rem-calc(64px) 0 0;
	background: none;
	color: $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem-calc(5px);
	border: none;
	outline: none;
	cursor: pointer;

	@include media(">=tablet") {
		@include font(64px, 64px);
		max-width: rem-calc(114px);
		height: rem-calc(114px);
		flex-basis: rem-calc(114px);
	}

	&:hover,
	&:focus {
		background: $primary;
		color: $black;
	}
}

.auth__user {
	color: $primary;

	[class^="icon-"],
	[class*=" icon-"] {
		margin-right: rem-calc(10px);
	}
}

#nav {
	width: rem-calc(370px);
	max-height: 100%;
	// background: $black-900;
	backdrop-filter: blur(20px);
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding-top: rem-calc(100px);
	box-shadow: 0 0 20px rgba($black, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 99999;

	.btn__cancel {
		@include size(#{rem-calc(60px)});
		@include animate(background color);
		font-size: rem-calc(24px);
		background: none;
		color: $primary;
		border: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;

		&:hover {
			background: $primary;
			color: $dark;
		}
	}
}

.main__menu {
	@extend %listreset;
	margin-bottom: rem-calc(15px);

	li {
		border-bottom: 1px solid $dark;

		&:last-child {
			border-bottom: none;
		}
	}

	a {
		@include animate(background color);
		display: block;
		padding: rem-calc(15px 20px);

		&:hover {
			background: $primary;
			color: $white;
		}
	}
}

.nav__footer {
	text-align: center;
	padding-bottom: rem-calc(15px);
	flex-grow: 0;
	flex-shrink: 0;
}
