#header {
	@include font(24px);
	background: $black-500;

	@include media(">=tablet") {
		@include font(36px, 42px);
	}

	&.is-app {
		padding-top: rem-calc(72px);
	}

	.header-holder {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.menu__opener,
.search__opener {
	@include font(32px, 32px);
	@include animate(background);
	max-width: rem-calc(64px);
	height: rem-calc(64px);
	flex: rem-calc(64px) 0 0;
	background: none;
	color: $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem-calc(5px);
	border: none;
	outline: none;
	cursor: pointer;

	@include media(">=tablet") {
		@include font(64px, 64px);
		max-width: rem-calc(114px);
		height: rem-calc(114px);
		flex-basis: rem-calc(114px);
	}

	&:hover,
	&:focus {
		background: $primary;
		color: $black;
	}
}

.auth__user {
	color: $primary;

	[class^="icon-"],
	[class*=" icon-"] {
		margin-right: rem-calc(10px);
	}
}
