.forgot__password {
    &__section {
        &:after {
            content: "";
            min-height: 100vh;
            display: inline-block;
            vertical-align: middle;
        }

        h1 {
            text-align: center;
            font-size: rem-calc(30px);
            margin-bottom: rem-calc(25px);
        }

        .btn__holder {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .btn {
                margin-bottom: rem-calc(35px);
            }

            .back {
                text-transform: capitalize;
                font-size: 130%;
            }
        }
    }

    &__holder {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        padding: rem-calc(0 25px);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
