.order__form {
    [type="email"],
    [type="password"],
    [type="search"],
    [type="text"],
    select {
        height: rem-calc(42px);
    }

    label {
        display: inline-block;
        vertical-align: top;
        margin-bottom: rem-calc(5px);
    }
}
