.password__section {
    h2 {
        text-align: center;
        font-size: rem-calc(30px);
        margin-bottom: rem-calc(25px);
    }

    &:after {
        content: "";
        min-height: 100vh;
        display: inline-block;
        vertical-align: middle;
    }

    &__holder {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        padding: rem-calc(0 25px);
    }

    .btn__holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .input__text {
        color: $danger;
    }
}
