.training__section {
    .notice {
        flex-grow: 1;
        color: $danger;
        text-align: center;
        padding: rem-calc(10px 5px);
        border: 1px dashed $danger;
        border-radius: 5px;
        margin-top: rem-calc(40px);

        strong {
            color: $gray;
            display: block;
            margin-bottom: rem-calc(6px);
        }

        p {
            &:last-child,
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
